<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>JDBC.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autentificare</servlet-name>
        <servlet-class>JDBC.Autentificare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editare_cont</servlet-name>
        <servlet-class>JDBC.Editare_cont</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_db</servlet-name>
        <servlet-class>JDBC.Update_db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select_list</servlet-name>
        <servlet-class>JDBC.Select_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adauga_prod</servlet-name>
        <servlet-class>JDBC.Adauga_prod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finalizeaza_comanda</servlet-name>
        <servlet-class>JDBC.Finalizeaza_comanda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sterge_comenzi</servlet-name>
        <servlet-class>JDBC.Sterge_comenzi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autentificare</servlet-name>
        <url-pattern>/Autentificare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editare_cont</servlet-name>
        <url-pattern>/Editare_cont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_db</servlet-name>
        <url-pattern>/Update_db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select_list</servlet-name>
        <url-pattern>/Select_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adauga_prod</servlet-name>
        <url-pattern>/Adauga_prod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finalizeaza_comanda</servlet-name>
        <url-pattern>/Finalizeaza_comanda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sterge_comenzi</servlet-name>
        <url-pattern>/Sterge_comenzi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
