<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>JDBC.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>JDBC.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccount</servlet-name>
        <servlet-class>JDBC.EditAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDatabase</servlet-name>
        <servlet-class>JDBC.UpdateDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectList</servlet-name>
        <servlet-class>JDBC.SelectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>JDBC.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>JDBC.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrders</servlet-name>
        <servlet-class>JDBC.DeleteOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>JDBC.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetails</servlet-name>
        <servlet-class>JDBC.UserDetails</servlet-class>
    </servlet>

    UserDetails
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccount</servlet-name>
        <url-pattern>/EditAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDatabase</servlet-name>
        <url-pattern>/UpdateDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectList</servlet-name>
        <url-pattern>/SelectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrders</servlet-name>
        <url-pattern>/DeleteOrders</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserDetails</servlet-name>
        <url-pattern>/UserDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
